<!DOCTYPE html>
    <html>
    <head>
      <style>
        /* CSS_PLACEHOLDER */
      </style>
      <title>Discord Authentication Required</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>

        </style>
        </head>
        <body>
        <div class="login-container">
            <div class="logo">
                <img src="/logo.jpg" alt="Logo" />
            </div>
            <h1>Authentication Required</h1>
            <!-- ERROR_PLACEHOLDER -->
            <p>You need to authenticate with Discord and have the relevant role in the Discord server to proceed</p>
            <a href="/auth/discord" class="login-btn">Login with Discord</a>
        </div>
    </body>
    </html>
